
.block_container {
  max-width: 950px;
  margin: auto;

}
@media (max-width: 991px) {
  .block_container {
    width: 90%;
  }
}
.modal {

  position: absolute;
  width: 90%;
  max-width: 950px;
  background-color:white;

  padding: 20px;
  outline: none;

}
.drag_box {
  width: 350px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
.hide {
  display: none;
}
.profile_btn a {
  color: white;
}
.profile_avatar {
  position: relative;
  width: 120px;
}
.profile_avatar .profile_avatar_btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.profile_avatar .profile_avatar_btn span{
  font-size: 20px;
}
.paper_modal {
  background: white;
  padding: 30px;
  width: 90%;
  margin: auto;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}